<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="mywrapper">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="m-t" id="signupForm">
							
							<div class="myformitem">
								<label class="myfromlabel">字段名：</label>
								<div class="myinputblock">
								<input type="hidden" id="tableid" th:value="${tableid}" name="tableid"/>
									<input id="fieldname" name="fieldname"   class="form-control" type="text">
								</div>
							</div>
							<div class="myformitem">
								<label class="myfromlabel">字段类型：</label>
								<div class="myinputblock">
									<input id="fieldtype"  name="fieldtype" class="form-control" type="text">
								</div>
							</div>
							<div class="myformitem">
								<label class="myfromlabel">字段注释：</label>
								<div class="myinputblock">
									 <input id="fieldnote"   name="fieldnote" class="form-control" type="text">
								</div>
							</div>
							<div class="myformitem">
								<label class="myfromlabel">是否为空：</label>
								<div class="myinputblock">
									<select id="fieldisnull" name="fieldisnull"
										class="form-control" tabindex="2" style="width: 100%">
										<option value="Y">Y</option>
										<option value="N">N</option>
									</select>
								</div>
							</div>
							 
							<div class="myformitem">
							<label class="myfromlabel"><!-- 这里只是一个占位的作用  --></label>
								<div class="myinputblock">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" th:src="@{/js/appjs/adminm/tables/addtablefield.js}">
	</script>
</body>
</html>
