<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="mywrapper">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-body">
						<p  th:text="'表名         :       '+${tables.entablename}"></p>
					</div>

					<!-- Table -->
					<table class="table table-bordered">
						<tr>
							<th>所属模块</th>
							<td  th:text="${categoryname}"></td>
						</tr>
						<tr>
							<th>中文表名</th>
							<td  th:text="${tables.zntablename}"></td>
						</tr>
						<tr>
							<th>表关联表</th>
							<td  th:text="${tables.tablerelations}"></td>
						</tr>
						<tr>
							<th>表关联视图</th>
							<td  th:text="${tables.vwrelations}"></td>
						</tr>
						<tr>
							<th>表关联序列</th>
							<td  th:text="${tables.seqrelation}"></td>
						</tr>
						<tr>
							<th>备注</th>
							<td  th:text="${tables.note}"></td>
						</tr>
						<tr>
							<td   colspan="2" style="text-align: center;">
								<button class="btn btn-info noborderradius" type="button" onclick=""> 表字段</button>							
								<button class="btn btn-info noborderradius" type="button" onclick="back()"> 返回</button>							
							</td>
						</tr>
					</table>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript">
		function back(){
			var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
			parent.layer.close(index);
		}
	
	</script>
</body>
</html>
